
    body {
    background-image: url('../Ex33/images/camel.gif');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    p {
    font-size: 12pt;
    color: #aa5588;
    text-align: justify;
    font-family: arial, sans-serif;
    }
    strong {
    color: #0000FF;
    font-family: verdana;
    }